* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1f;
}

.side-column {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
    height: 100vh;
    background-color: rgb(205, 231, 255);
}

.book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 80%;
    gap: 20px;
    padding-bottom: 30px;
    opacity: 1;
    visibility: visible;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

.book-form input,
.book-form select,
.book-form textarea {
    background-color: rgb(205, 231, 255);
}

.book-form.hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
}

.book-form label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    color: rgb(4, 10, 46);
}

.book-form input {
    border: none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    height: 30px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
}

.status-field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.status-field input{
    width: 20px;
    height: 20px;
}


/* ADD BOOK BUTTON */

.add-book {
    background-color: rgb(141, 167, 245);
    color: white;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    transition: 0.3s;
}

.add-book:hover {
    background-color: rgb(45, 68, 134);
}


/* FORM OPEN BUTTON */

.open-form button {
    width: 200px;
    height: 30px;
    background-color: rgb(223, 144, 118);
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

.open-form button:hover {
    background-color: rgb(208, 109, 67);
}


/* EXISTING BOOK GRID */

.bookcase {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    padding: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: rgb(238, 242, 255);
    border-radius: 10px;
}

.book-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: rgb(4, 10, 46);
}

.edit-status {
    height: 30px;
    border-radius: 10px;
    color: rgb(45, 68, 134);
    background-color: transparent;
    border: 1px solid rgb(45, 68, 134);
    transition: 0.3s;
}

.edit-status:hover {
    background-color: rgb(45, 68, 134);
    color: white;
}